*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}

nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #4A939B;
 height: 65px;
 padding-left: 160px;
 padding-right: 160px;
}
nav ul{
display: flex;
gap: 40px;
align-items: center;
}
nav ul a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s
}
nav ul a:hover{
    background-color: white;
    color:#4A939B ;
    height: 65px;
    width: 110px;
}
.bg{
    background-image: url(content\ 1.png);
    color: white;
 background-repeat: no-repeat;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 50px;
}
.bg__text{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.bg__text h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.bg__text span{
    font-weight: 600;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
display: flex;
align-items: center;
}
.box {
flex-wrap: wrap;
background-color: white;
border: 1px solid #9B9B9B;
border-radius: 10px;
background: linear-gradient(126.35deg, rgba(239, 23, 23, 0.04) 21.2%, rgba(26, 112, 111, 0.17) 82.65%);;
width: 255px;
height: 218px;
display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;
margin-bottom: 40px;
}
.box p{
    color: white;
    flex-wrap: wrap;
    width: 200px;
}
.box h2{
color: #4A939B;
}
.box img{
    height: 80px;
}
.box__big{
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid #9B9B9B;
    border-radius: 10px;
    display: flex;
    width: 540px;
    height: 467px;
    justify-content: center;
    align-items: center;
}
.box__big p{
    color: #9B9B9B;
        flex-wrap: wrap;
    width: 460px;
}
.box__big img{
    width: 510px;
    height: 263px;
    margin-top: 15px;
}
.box__big h2{
    color: #2C2A2A;
}
footer{
    display: flex;
    background-color: #4A939B;
    height: 260px;
    width: 1521px;
    justify-content: space-evenly;
    align-items: center;
}
footer input{
    border: none;
    background-color: white;
    border-radius: 6px;
    color: #9B9B9B;
    display: flex;
    padding-left: 10px;
}
.input{
    width: 350px;
    height: 34px;
    margin-top: 30px;
}
.input_2{
    height: 86px;
    width: 350px;
    margin-top: 10px;
    padding-bottom: 60px;
}
footer button{
    width: 350px;
    height: 25px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #52BFAD;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
color: white;
}
.left p:hover{
    color: #52BFAD;
}
.left p{
  padding-bottom: 10px;
  transition: 500ms;
}
.right{
color: white;
}
.right p:hover{
    color: #52BFAD;
}
.right p{
  padding-bottom: 10px;
  transition: 500ms;
  display: flex;
}
.right_2{
    flex-wrap: wrap;
    width: 600px;
    display: flex;
    margin-top: 30px;
}
.left_2{
    display: flex;
    align-items: center;
}